extends layout

block links
  link(rel="stylesheet", href="/css/albums.css")

block content
  .container
    form#createAlbum
      .form-group.col-xs-9.col-xs-offset-1
        label(for='title') New Album
        input#title.form-control(type='text', placeholder='Album Title', required)
      .spacer.col-xs-1
        label.spacerText Spacer
        button.btn.btn-default(type='submit') Create
  .container
    ul#albumListings
      each album in albums
        li.listing.col-xs-4(data-id=album._id)
          h2
            = album.title

block scripts
  script(src="/js/albums.js")
