extends layout

block links
  link(rel="stylesheet", href="/css/albumdetails.css")

block content
  .container
    h2
      =album.title
    form#createImage(action="/images/", method="post", enctype="multipart/form-data")
      .row
        .form-group.col-xs-offset-1
          label(for='title') Add Image
      .row
        .form-group.col-xs-5
          input.form-control(type='file', name="image", multi=false, required)
      .row
        .form-group.col-xs-offset-1
          button.btn.btn-default Create
    ul#images
      each image in album.images
        li.col-xs-4.row
          .spacing
            button.btn.btn-default
              .glyphicon.glyphicon-trash
            img(src=image.url)

block scripts
  script(src="/js/albumdetails.js")
